<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<session-factory>
	
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem</property>
		<property name="hibernate.default_schema">PUBLIC</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!--property name="show_sql">true</property>
		<property name="format_sql">true</property-->
		
		<mapping class="org.learning.hibernate.pojo.Contact" />

	</session-factory>
	
</hibernate-configuration>